
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 300%;
    border: 1px solid #ddd;
    position: relative;
}
h3{
    transform: translate(100%,50%);
}

th,
td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#maTable{
    transform: translate(-69%, 80px);
    ;
}
input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 60px;
    height: 30px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
  }
  
  label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }
  
  input:checked + label {
    background: #536881;
  }
  
  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
  
  label:active:after {
    width: 20px;
  }
  
  /* centering */
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

#btnSave{
    display: block;
}
